@using System.Security.Claims


<h3>Vous êtes autorisé.</h3>

@if (_user is not null)
{
    if (_user.Identity is not null)
    {
        <p>Authentifié : @_user.Identity.IsAuthenticated</p>
        <p>Nom : @_user.Identity.Name</p>
        <p>Authentication type : @_user.Identity.AuthenticationType</p>
    }
    @if (_user.Claims.Any())
    {
        <h3>User claims</h3>
        <ul>
            @foreach (var claim in _user.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    }
}
@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private ClaimsPrincipal? _user;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState != null)
        {
            var authState = await authenticationState;
            _user = authState.User;
            await base.OnInitializedAsync();
        }
    }
}
